<launch>

  <arg name="voxel_size" default="0.2"/>
  <arg name="generate_esdf" default="true" />

   <node name="esdf_server" pkg="voxblox_ros" type="esdf_server" output="screen" args="-alsologtostderr" clear_params="true">
    <remap from="pointcloud" to="/camera/points2"/>
    <param name="tsdf_voxel_size" value="$(arg voxel_size)" />
    <param name="tsdf_voxels_per_side" value="16" />
    <param name="voxel_carving_enabled" value="false" />
    <param name="color_mode" value="color" />
    <param name="use_tf_transforms" value="true" />
    <param name="update_mesh_every_n_sec" value="1.0" />
    <param name="min_time_between_msgs_sec" value="0.0" />
    <param name="method" value="merged" />
    <param name="generate_esdf" value="$(arg generate_esdf)" />
    <param name="use_const_weight" value="false" />
    <param name="max_ray_length_m" value="20.0" />
    <param name="min_ray_length_m" value="0.1" />
    <param name="esdf_max_distance_m" value="20.0" />
    <param name="esdf_default_distance_m" value="20.0" />
    <param name="allow_clear" value="false" />
    <param name="verbose" value="true" />
    <param name="max_integration_time_s" value="0.02"/>
    <param name="clear_checks_every_n_frames" value="1"/>
    <param name="output_mesh_as_point_cloud" value="false"/>
    <param name="publish_esdf_map" value="true"/>
    <rosparam file="$(find voxblox_ros)/cfg/euroc_dataset.yaml"/>
    <param name="mesh_filename" value="test.ply" />
  </node>

</launch>
